.transaction-table {
    margin-top: 12px;
    margin-bottom: 12px;
    border-spacing: 2px;
}

.transaction-header {
    font-weight: bold;
    text-transform: uppercase;
    height: 32px;
    padding: 5px;
}

.transaction-row {
    /* background-color: #CCE6F4; */
    height: 32px;
}

.transaction-cell {
    padding: 5px;
}
